<div class="uk-margin">
    <form class="uk-search uk-search-default" role="search" method="get" action="{{site.url|e('esc_url')}}">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Paieška..." value="{{get_search_query}}" name="s" />
    </form>
</div>



